name: Preview Check

on:
  pull_request:

jobs:
  preview-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - run: npm install

      - name: Build
        run: npm run build
