name: Promote to Production

on:
  push:
    branches:
      - main

jobs:
  promote:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Promote
        run: |
          git push origin main:production
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
